@keyframes pop-bounce {
   0% {
      transform: perspective(500px) translateZ(0);
   }

   50% {
      transform: perspective(500px) translateZ(50px);
   }

   100% {
      transform: perspective(500px) translateZ(25px);
   }
}

.btn {
   font-family: $secondary-font;
   border: none;
   color: $white;
   padding: 20px 45px;
   border-radius: 0;

   &:focus {
      box-shadow: none;
   }

   @include desktop {
      padding: 17px 40px;
   }

   .btn-area {
      display: block;
      overflow: visible;

      span {
         position: relative;
         display: inline-block;
         padding: 2px 0;
         animation: pop-bounce 0.6s forwards;
         animation-fill-mode: forwards;
         animation-play-state: paused;
      }
   }

   &:hover {
      .btn-area {
         span {
            animation-play-state: running;
         }
      }
   }

   &:visited {
      .btn-area {
         span {
            animation-play-state: running;
         }
      }
   }
}

.btn:not(:hover) .btn-area span {
   animation: none;
}

.btn-sm {
   padding: 15px 40px !important;
}

.btn-sm-rounded {
   border-radius: 40px;
   color: $white;

}

.btn-primary {
   background: $primary-color;
   color: $white !important;

   &:hover {
      background: darken($color: $primary-color, $amount: 10);
   }
}

.btn-secondary {
   background: $secondary-color;
   color: #3C4151;

   &:hover {
      background: darken($color: $secondary-color, $amount: 10);
      color: #3C4151;
   }
}